    <footer class="s1903-footer" role="contentinfo">
      <div class="s1903-container">
        <div class="s1903-footer__top">
          <span class="s1903-footer__logo" data-s1903="footer.logo">Studio19.03</span>
          <div class="s1903-footer__social" data-s1903="footer.social"></div>
        </div>
        <div class="s1903-footer__bottom">
          <span data-s1903="footer.copyright"></span>
          <span data-s1903="footer.address"></span>
          <a class="s1903-footer__policy" data-s1903="footer.policy" data-s1903-href="footer.policy" href="/privacy"></a>
        </div>
      </div>
    </footer>
